* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', sans-serif;
}

a {
    color: rgb(93, 93, 93);
}

.content {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40vw;
    background-image: url(./VYD_unhappy_child.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60vh;
    gap: 1vh;
    padding: 10px;
    background: black;
    opacity: 0.75;
    color: white;
    font-size: 2.5em;
}

.sad-face-icon {
    width: 75px;
    filter: invert(94%);
}

.attribution {
    position: relative;
    top: 80vh;
    padding: 5px;
    font-size: 1em;
    background: black;
    opacity: .66;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    gap: 15px;
    width: 55vw;
}

.right-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.right-text > h3 {
    font-size: 3em;
    text-transform: uppercase;
}

.right-text > p {
    font-size: 1.5em;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border: 0px;
    gap: 5px;
    margin-bottom: 15px;
    font-size: 1em;
}

legend {
    font-size: 1.25em;
    margin-bottom: 15px;
}

.input {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    text-transform: uppercase;
}

input:focus {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    border: 1px solid blue;
}

button {
    background-color: rgb(228, 49, 49);
    border: 0px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1em;
}

.log-in {
    font-weight: 900;
}